@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* Optional: if Tailwind still applies ring-black somewhere, block it here */
*:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

html {
  font-family: "Itim";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

select,
input,
textarea {
  border: 1px solid #c2c2c2;
  outline-color: #c586a5;
  border-radius: 4px;
}
.active {
  background-color: #ffebf5;
  border-color: #c586a5;
}

/* in your styles/globals.css or tailwind config */
.input-style {
  @apply w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-black;
}
